{% include '@' ~ NAMESPACE ~ '/head_panel.html' %}

{% if PHP_VALID and PHPBB_VALID %}
	<form id="registrationage" method="post" action="{{ U_ACTION }}">
		<fieldset>
			<legend>{{ lang('REGISTRATION_AGE_OPTIONS') }}</legend>

			<dl>
				<dt><label for="registration_age">{{ lang('REGISTRATION_AGE') }}{{ lang('COLON') }}</label><br><span>{{ lang('REGISTRATION_AGE_EXPLAIN') }}</span></dt>
				<dd>
					<input class="textbox" id="registration_age" type="number" maxlength="2" name="registration_age" value="{{ REGISTRATION_AGE }}" min="1" max="99" />
				</dd>
			</dl>

			<dl>
				<dt><label for="registration_age_log">{{ lang('REGISTRATION_AGE_LOG') }}{{ lang('COLON') }}</label><br><span>{{ lang('REGISTRATION_AGE_LOG_EXPLAIN') }}</span></dt>
				<dd>
					<input type="radio" id="registration_age_log1" name="registration_age_log" value="1"{% if REGISTRATION_AGE_LOG %} checked="checked"{% endif %} />
					<label class="set" for="registration_age_log1">{{ lang('YES') }}</label>
					<input type="radio" id="registration_age_log0" name="registration_age_log" value="0"{% if not REGISTRATION_AGE_LOG %} checked="checked"{% endif %} />
					<label class="unset" for="registration_age_log0">{{ lang('NO') }}</label>
				</dd>
			</dl>

			<dl>
				<dt><label for="registration_age_ip">{{ lang('REGISTRATION_AGE_IP') }}{{ lang('COLON') }}</label><br><span>{{ lang('REGISTRATION_AGE_IP_EXPLAIN') }}</span></dt>
				<dd>
					<input type="radio" id="registration_age_ip1" name="registration_age_ip" value="1"{% if REGISTRATION_AGE_IP %} checked="checked"{% endif %} />
					<label class="set" for="registration_age_ip1">{{ lang('YES') }}</label>
					<input type="radio" id="registration_age_ip0" name="registration_age_ip" value="0"{% if not REGISTRATION_AGE_IP %} checked="checked"{% endif %} />
					<label class="unset" for="registration_age_ip0">{{ lang('NO') }}</label>
				</dd>
			</dl>

			<dl>
				<dt><label for="registration_age_ban_reason">{{ lang('REGISTRATION_AGE_BAN_REASON') }}{{ lang('COLON') }}</label><br><span>{{ lang('REGISTRATION_AGE_BAN_REASON_EXPLAIN') }}</span></dt>
				<dd>
					<input class="textbox" name="registration_age_ban_reason" type="text" id="registration_age_ban_reason" value="{{ REGISTRATION_AGE_BAN_REASON }}" size="40" maxlength="255" validate="string" />
				</dd>
			</dl>

			<dl>
				<dt><label for="registration_age_ban_length">{{ lang('REGISTRATION_AGE_BAN_LENGTH') }}{{ lang('COLON') }}</label><br><span>{{ lang('REGISTRATION_AGE_BAN_LENGTH_EXPLAIN') }}</span></dt>
				<dd>
					{{ REGISTRATION_AGE_BAN_LENGTH }}
				</dd>
			</dl>

			<dl>
				<dt><label for="registration_age_store">{{ lang('REGISTRATION_AGE_STORE') }}{{ lang('COLON') }}</label><br><span>{{ lang('REGISTRATION_AGE_STORE_EXPLAIN') }}</span></dt>
				<dd>
					<input type="radio" id="registration_age_store1" name="registration_age_store" value="1"{% if REGISTRATION_AGE_STORE %} checked="checked"{% endif %} />
					<label class="set" for="registration_age_store1">{{ lang('YES') }}</label>
					<input type="radio" id="registration_age_store0" name="registration_age_store" value="0"{% if not REGISTRATION_AGE_STORE %} checked="checked"{% endif %} />
					<label class="unset" for="registration_age_store0">{{ lang('NO') }}</label>
				</dd>
			</dl>

			<dl>
				<dt><label for="registration_age_copy">{{ lang('REGISTRATION_AGE_COPY') }}{{ lang('COLON') }}</label><br><span>{{ lang('REGISTRATION_AGE_COPY_EXPLAIN') }}</span></dt>
				<dd>
					<input type="radio" id="registration_age_copy1" name="registration_age_copy" value="1"{% if REGISTRATION_AGE_COPY %} checked="checked"{% endif %} />
					<label class="set" for="registration_age_copy1">{{ lang('YES') }}</label>
					<input type="radio" id="registration_age_copy0" name="registration_age_copy" value="0"{% if not REGISTRATION_AGE_COPY %} checked="checked"{% endif %} />
					<label class="unset" for="registration_age_copy0">{{ lang('NO') }}</label>
				</dd>
			</dl>

			<dl>
				<dt><label for="registration_age_display">{{ lang('REGISTRATION_AGE_DISPLAY') }}{{ lang('COLON') }}</label><br><span>{{ lang('REGISTRATION_AGE_DISPLAY_EXPLAIN') }}</span></dt>
				<dd>
					<input type="radio" id="registration_age_display1" name="registration_age_display" value="1"{% if REGISTRATION_AGE_DISPLAY %} checked="checked"{% endif %} />
					<label class="set" for="registration_age_display1">{{ lang('YES') }}</label>
					<input type="radio" id="registration_age_display0" name="registration_age_display" value="0"{% if not REGISTRATION_AGE_DISPLAY %} checked="checked"{% endif %} />
					<label class="unset" for="registration_age_display0">{{ lang('NO') }}</label>
				</dd>
			</dl>

			<dl>
				<dt><label for="registration_age_admin">{{ lang('REGISTRATION_AGE_ADMIN') }}{{ lang('COLON') }}</label><br><span>{{ lang('REGISTRATION_AGE_ADMIN_EXPLAIN') }}</span></dt>
				<dd>
					<input type="radio" id="registration_age_admin1" name="registration_age_admin" value="1"{% if REGISTRATION_AGE_ADMIN %} checked="checked"{% endif %} />
					<label class="set" for="registration_age_admin1">{{ lang('YES') }}</label>
					<input type="radio" id="registration_age_admin0" name="registration_age_admin" value="0"{% if not REGISTRATION_AGE_ADMIN %} checked="checked"{% endif %} />
					<label class="unset" for="registration_age_admin0">{{ lang('NO') }}</label>
				</dd>
			</dl>

			<dl>
				<dt><label for="registration_verbose">{{ lang('REGISTRATION_VERBOSE') }}{{ lang('COLON') }}</label><br><span>{{ lang('REGISTRATION_VERBOSE_EXPLAIN') }}</span></dt>
				<dd>
					<input type="radio" id="registration_verbose1" name="registration_verbose" value="1"{% if REGISTRATION_VERBOSE %} checked="checked"{% endif %} />
					<label class="set" for="registration_verbose1">{{ lang('YES') }}</label>
					<input type="radio" id="registration_verbose0" name="registration_verbose" value="0"{% if not REGISTRATION_VERBOSE %} checked="checked"{% endif %} />
					<label class="unset" for="registration_verbose0">{{ lang('NO') }}</label>
				</dd>
			</dl>

			<dl>
				<dt><label for="registration_date_format">{{ lang('REGISTRATION_DATE_FORMAT') }}{{ lang('COLON') }}</label><br><span>{{ lang('REGISTRATION_DATE_FORMAT_EXPLAIN') }}</span></dt>
				<dd>
					<input type="radio" id="registration_date_format1" name="registration_date_format" value="1"{% if REGISTRATION_DATE_FORMAT %} checked="checked"{% endif %} />
					<label class="set" for="registration_date_format1">{{ lang('USER_FORMAT') }}</label>
					<input type="radio" id="registration_date_format0" name="registration_date_format" value="0"{% if not REGISTRATION_DATE_FORMAT %} checked="checked"{% endif %} />
					<label class="set" for="registration_date_format0">{{ lang('DATABASE_FORMAT') }}</label>
				</dd>
			</dl>

			<dl>
				<dt><label for="registration_age_show">{{ lang('REGISTRATION_AGE_SHOW') }}{{ lang('COLON') }}</label><br><span>{{ lang('REGISTRATION_AGE_SHOW_EXPLAIN') }}</span></dt>
				<dd>
					<input type="radio" id="registration_age_show1" name="registration_age_show" value="1"{% if REGISTRATION_AGE_SHOW %} checked="checked"{% endif %} />
					<label class="set" for="registration_age_show1">{{ lang('YES') }}</label>
					<input type="radio" id="registration_age_show0" name="registration_age_show" value="0"{% if not REGISTRATION_AGE_SHOW %} checked="checked"{% endif %} />
					<label class="unset" for="registration_age_show0">{{ lang('NO') }}</label>
				</dd>
			</dl>
		</fieldset>

		<fieldset>
			<legend>{{ lang('ACP_SUBMIT_CHANGES') }}</legend>
			<p class="submit-buttons">
				<input class="adm-button" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}" />&nbsp;
				<input class="adm-button" type="reset" id="reset" name="reset" value="{{ lang('RESET') }}" />
			</p>
			{{ S_FORM_TOKEN }}
		</fieldset>
	</form>
{% endif %}

{% include '@' ~ NAMESPACE ~ '/donate.html' %}
