{% INCLUDECSS '@david63_registrationage/registrationage.css' %}

<dl>
	<dt><label for="birthdate">{{ lang('ENTER_BIRTHDATE') }}{{ lang('COLON') }}</label></dt>
	<dd>
		{{ lang('DAY') }}{{ lang('COLON') }}&nbsp;<input  id="registration_age_day" type="number" maxlength="2" name="registration_age_day" value="{{ REGISTRATION_AGE_DAY }}" min="1" max="31" />
		{{ lang('MONTH') }}{{ lang('COLON') }}&nbsp;<input  id="registration_age_month" type="number" maxlength="2" name="registration_age_month" value="{{ REGISTRATION_AGE_MONTH }}" min="1" max="12" />
		{{ lang('YEAR') }}{{ lang('COLON') }}&nbsp;<input  id="registration_age_year" type="number" maxlength="4" name="registration_age_year" value="{{ REGISTRATION_AGE_YEAR }}" min="{{ YEAR_START }}" max="{{ YEAR_END }}" step="-1"/>
	</dd>
</dl>
